body {
    margin: 0;
    padding: 0;

    header {
        background-color: rgb(0, 255, 255);
        display: flex;

    }


    main {
        margin: 0;
        padding: 0;

        .burger {
            width: 100%;
            max-height: 25%;
            object-fit: cover;
        }
        .ingr-time {
            display: inline-flex;
            display: grid;
            grid-template-columns: repeat(20, 1fr);
            grid-template-rows: 1fr;

            .ingr-check {
                background-color: gold;
                grid-column: 2 / 14;
            }
            .time-container {
                background-color: pink;
                grid-column: 14 / 20;
            }
            
        }
    }
}